<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container">
    <h2 class="center">Create Account</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>

    <p class="center" style="margin-top: 15px; font-size: 14px;">
        Already have an account? <a href="{% url 'login' %}" class="action-link">Login here</a>
    </p>
</div>

</body>
</html>